.btn-blue {
    display: inline-block;
    background: #d91e36;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-blue:hover {
    background: #b81a2c;
}
